.create-post-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-welcome-message > video {
  display: block;
  width: 90%;
  margin: 0 5% 0;
}

.display-welcome-message > h1 {
  margin: 5% 5% 30px;
}

.display-welcome-message .post-detail:first-of-type {
  margin-top: 0;
}

.create-post-btn > i {
  font-size: 25px;
}

@media only screen and (min-width: 576px) {
  .display-welcome-message > video {
    margin: 0 auto 0;
    width: 517.5px;
  }

  .display-welcome-message > h1 {
    width: 517.5px;
    margin: 5% auto 30px;
  }
}

@media only screen and (min-width: 768px) {
  .display-welcome-message > video {
    margin: 0 5% 0;
    width: 90%;
  }

  .display-welcome-message > h1 {
    margin: 5% 5% 30px;
  }
}

@media only screen and (min-width: 1125px) {
  .display-welcome-message > video {
    margin: 0 auto 0;
    width: 1000px;
  }

  .display-welcome-message > h1 {
    width: 1000px;
    margin: 5% auto 30px;
  }
}
